/* navigation */

#navbar{
 flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

#home{
 height: 400px;
 padding: 34px 77px;

}

#home::before{

    height:612px;
}
#home p{
    font-size: 13px;
}
/* home section  */
/* services */

#services.box{
    margin:11px 10px;
}

/* clients section */
#clients{
    overflow: hidden;
}

/* utility classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
}

#contact-box form{
    width: 80%;
}